{% extends 'healthcare/base.html' %}
{% block title %}Book Appointment{% endblock %}

{% block body %}
<div>
  <div class="panel-body">
    <form id="contact" class="search-container" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <style>
        #id_appointment_date{
          float:center;
          margin: 0 auto;
          width: 100%;
          height: 45px;
          padding: 0 20px;
          font-size: 2rem;
          border: 1px solid #D0CFCE;
          outline: none;
        }
        select#id_doctor{
          float:center;
          margin: 0 auto;
          width: 100%;
          height: 45px;
          padding: 0 20px;
          font-size: 2rem;
          border: 1px solid #D0CFCE;
          outline: none;
        }
        </style>
        <div style="float:center;">
          <center><h2 style="color: #F96;	display: block;	font-size: 30px;font-weight: 400;">Book Appointment<h2><br /></center>
        {% include 'registration/form-template.html'%}

        <div class="form-group">
            <center><button class="button-three" onclick="confirm_appointment(event)">Book Appointment</button></center>
            <script>
              function confirm_appointment(e) {
                msg = "Are you sure you want to book an appointment and pay Dr." + $("#id_doctor option:selected").text();
                if(!confirm(msg)) {
                  e.preventDefault();
                }
              }
            </script>
        </div>
        </div>
    </form>
</div>
</div>
{% endblock %}
