<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}HealthCareSys{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}" />
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'healthcare:index' %}">HealthManSys</a>
            </div>
            
            <div class="collapse navbar-collapse" id="topNavBar">
                <!--
                <form class="navbar-form navbar-left", role="search", method="get", action="#">
                    <div>
                        <input type="text" class="form-control" name="q" value="">
                        <button type="submit" class="btn btn-default">Search</button>
                    </div>
                </form>
                -->
                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a href="{% url 'healthcare:register' %}">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;
                            Register
                        </a>
                    </li>
                    <li>
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'healthcare:logout' %}">
                                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;
                                Logout
                            </a>
                        {% else %}
                            <a href="/admin/">
                                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;
                                Login
                            </a>
                        {% endif %}
                    </li>
                </ul>
                
            </div>
            
        </div>
    </nav>

{% block body %}
{% endblock %}
</body>
</html>