<center><h3 style="color: #dd5;">You upcoming Appointments</h3></center>
    {% if appointments %}
    <center><div>
    {% if appointments %}
    <table class="rwd-table">
      <thead>
          <th>ID</th>
          <th>Doctor Name</th>
          <th>Appointment Date</th>
          <th>Appointment Time</th>
          <th>Status</th>
          <th>Consultation Fees</th>
      </thead>
      <tbody>
          {% for appointment in appointments %}
          <tr onclick=window.location="{% url 'healthcare:appointment-detail' appointment.pk %}">
              <td>{{ appointment.pk }}</td>
              <td>{{ appointment.doctor }}</td>
              <td>{{ appointment.appointment_date }}</td>
              <td>{{ appointment.appointment_time }}</td>
              <td>{{ appointment.status }}</td>
              <td>{{ appointment.fee }}</td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
    {% else %}
    <h3>You have no appointments!</h3>
    {% endif %}
    </table>
    </div></center>
    {% else %}
    <h3>You have no appointments!</h3>
    {% endif %}
</div>
