{% extends 'healthcare/base.html' %}
{% block title %}Login{% endblock %}
{% block body %}

<div>
  <div class="panel-body">
    <form id="contact" class="search-container" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <style>
        input#id_username{
          float:center;
          margin: 0 auto;
          width: 100%;
          height: 45px;
          padding: 0 20px;
          font-size: 2rem;
          border: 1px solid #D0CFCE;
          outline: none;
          &:focus{
            border: 1px solid #008ABF;
            transition: 0.35s ease;
            color: #008ABF;
            &::-webkit-input-placeholder{
              transition: opacity 0.45s ease;
          	  opacity: 0;
             }
            &::-moz-placeholder {
              transition: opacity 0.45s ease;
          	  opacity: 0;
             }
            &:-ms-placeholder {
             transition: opacity 0.45s ease;
          	 opacity: 0;
             }
           }
        }
        input#id_password{
          float:center;
          margin: 0 auto;
          width: 100%;
          height: 45px;
          padding: 0 20px;
          font-size: 2rem;
          border: 1px solid #D0CFCE;
          outline: none;
          &:focus{
            border: 1px solid #008ABF;
            transition: 0.35s ease;
            color: #008ABF;
            &::-webkit-input-placeholder{
              transition: opacity 0.45s ease;
          	  opacity: 0;
             }
            &::-moz-placeholder {
              transition: opacity 0.45s ease;
          	  opacity: 0;
             }
            &:-ms-placeholder {
             transition: opacity 0.45s ease;
          	 opacity: 0;
             }
           }
           &::-webkit-input-placeholder::before {
    color:#666;
    content:"Line 1\A Line 2\A Line 3\A";
}
        }
        </style>
        <div style="float:center;">
          <center><h2 style="color: #F96;	display: block;	font-size: 30px;font-weight: 400;">Login<h2><br /></center>
        {% include 'registration/form-template.html'%}
        <script>
        $('#id_username').attr('placeholder', 'Username');
        $('#id_password').attr('placeholder', 'Password');
        </script>
        <div class="form-group">

            <center><button class="button-three">Login</button></center>
        </div>
        </div>
    </form>
</div>
</div>
{% endblock %}
