{% extends 'healthcare/base.html' %}
{% block title %}Register{% endblock %}

{% block body %}
              <center><div style="background-color: #F9F9F9;width:500px;">
                <div class="panel-body">
                  <h2 style="color: #F96;	display: block;	font-size: 30px;font-weight: 400;">Register<h2><br />
                    <form id="contact" class="form-horizontal" action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'registration/form-template.html' with form=user_form%}
                        {% include 'registration/form-template.html' with form=profile_form%}
                        <div class="form-group">
                            <center><button class="button-three">Register</button></center>
                        </div>
                    </form>
                </div>
              </div></center>
{% endblock %}
