{% extends 'healthcare/base.html' %}
{% block title %}Profile{% endblock %}
{% block body %}
{% load staticfiles %}
        <div class="containers" style="max-width: 100%;max-height: 100%;">
          <div class="content-profile">
            <div class="profile">
              <div class="image-content">
                <div class="circle circle-1"></div>
                <div class="circle circle-2"></div><img src="{% static "img/user.png" %}" alt="imgprofile"/>
              </div>
              <h4 class="profile__name" style="font-size:35px;">{{ userprofile.user.username }}<span style="font-size:20px">{{ userprofile.user.first_name }} {{ userprofile.user.last_name }}</span></h4>
            </div>
            <div class="profile-info">
              <div class="profile-info__item">
                <p>{{ userprofile.user.email }}<span>Email ID</span></p>
              </div>
              <div class="profile-info__item">
                <p>{{ userprofile.contact }}<span>Contact</span></p>
              </div>
              <div class="profile-info__item">
                <p>{{ userprofile.address }}<span>Birth Date</span></p>
              </div>
              <div class="profile-info__item">
                <p>{{ userprofile.birth_date }}<span>Birth Date</span></p>
              </div>
            </div>
          </div>
        </div>
        <p>
        {% if userprofile.user.pk == request.user.pk %}
        <center><button class="button-three" onclick="window.location.href='{% url 'accounts:userupdate' %}'">Edit Profile</button></center>
        {% endif %}
        </p><br />
{% endblock %}
